<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset_theme('img/favicon.ico') }}"/>
</head>
<body id="page-top">
  {% block header %}{% endblock %}
  {% block body %}{% endblock %}
  {% block javascripts %}{% endblock %}
</body>
</html>